<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>Hiber5_mtm_annot</display-name>
   
   <filter>
  	<filter-name>OSIV</filter-name>
  	<filter-class>com.libo.filter.OSIVFilter</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>OSIV</filter-name>
  	<url-pattern>/*</url-pattern>
  </filter-mapping>
  <welcome-file-list>
    <welcome-file>FilmServlet</welcome-file>
  </welcome-file-list>
  
  <servlet>
  	<servlet-name>STServlet</servlet-name>
  	<servlet-class>com.libo.sevlet.STServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>STServlet</servlet-name>
  	<url-pattern>/STServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>FilmServlet</servlet-name>
  	<servlet-class>com.film.servlet.FilmServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>FilmServlet</servlet-name>
  	<url-pattern>/FilmServlet</url-pattern>
  </servlet-mapping>
  
</web-app>